<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Описание</h1>
        <h2>Об авторе: </h2>
        <p>ФИО: Решетова Екатерина Викторовна <br> Дата рождения: 31.12.1995 <br> Город: Москва </p>
        <h2>Правила работы генератора паролей:</h2>
        <ul>
            <li>Допустимые символы:
                <ul>
                    <li>Цифры</li>
                    <li>Латинские буквы в верхнем и нижнем регистре</li>
                    <li>Специальные символы</li>
                </ul>
            </li>
            <li>Не допускаются:
                <ul>
                    <li>Пароли короче 6 символов и длиннее 12 символов</li>
                    <li>Пароли, совпадающие с именем пользователя</li>
                </ul>
            </li>
        </ul>
        <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
    </div>
</body>
</html>